mixin card_team(obj)
    .our-team-card 
        .our-team-card__img-bx 
            img.our-team-card__img(src=`@img/${obj.img}`)
        .our-team-card__title #{obj.name}
        .our-team-card__tx #{obj.position}


    