.btn{
    min-width: 220px;
    font-weight: 600;
    font-size: 0.714rem;
    line-height: 1.33;
    letter-spacing: 0.028em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border:none;
    opacity: 1;
    transition: opacity 0.8s ease 0s;
    padding: 10px 0;
    border-radius: 35px;
    cursor: pointer;
 
    @media (min-width: 1200px){
        padding: 20.1px 0;
    }

}

a.btn{display: block;}

.btn-white{background: #fff; color:#000;}
.btn-black{background: #000; color:#fff;}
.btn-transparent{ 
    background: transparent; border: 1px solid #fff; color:#fff; 
    @media (min-width: 1200px){padding: 18.7px 0;}
}
.btn-transparent-blk{
    background: transparent; border: 1px solid #000; color:#000;
    @media (min-width: 1200px){padding: 18.7px 0;}
    
}


@media (min-width: 768px){

.btn:hover{opacity: 0.5;}

}

