
.card-good{
    position: relative;
    margin-bottom: 120px;
    align-items: stretch;
    z-index: 5;

    &::after{
        content:"";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border:2px solid #fff;
        z-index: 4;
    }

    &__col{

        width: 100%;

        @media (min-width: 640px){
            width: 50%;
        }

        @media (min-width: 1280px){
            width: 33.333%;
        }

    }

    &__content{
        padding: 30px 20px 20px 20px;
        border: 1px solid #E8E8E8;
        height: 100%;
        position: relative;

        @media (min-width: 480px){
            padding: 40px 80px 60px 80px;
        }

        @media (min-width: 640px){
            padding: 30px 20px 20px 20px;
        }

        @media (min-width: 820px){
            padding: 40px 80px 60px 80px;
        }

        @media (min-width: 1280px){
            padding: 30px 20px 20px 20px;
        }
        @media (min-width: 1460px){
            padding: 40px 80px 60px 80px;
        }
    }


    &__title{
        width: 100%;
        font-weight: 500;
        font-size: 1.523rem;
        line-height: 1.375;
        text-align: center;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__price{
        font-weight: 500;
        font-size: 0.857rem;
        line-height: 1.389;
        text-align: center;
        color: #000000;
        margin-bottom: 30px;
        width: 100%;
    }


    &__img{
        position: relative;
        height: 0;
        width: 100%;
        margin-bottom: 120px;
        position: relative;
        z-index: 6;
        overflow: hidden;
    }

    &__img img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__line2{
        justify-content: center;
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
    }

    &__button.btn-transparent-blk{
        position: relative;
        z-index: 6;
        min-width: auto;
        padding: 20px 48px !important;
    }
    &__button:hover{
        background-color: #222222;
        color:#fff;
    }

}

.charging{

 & .card-good__img{
    padding-top: 125%;
 }

}


.accessories{
    & .card-good__img{
        padding-top: 75%;
    }

    & .card-good__title{
        text-transform: none;
        letter-spacing: -0.02rem;
    }
}


@media (min-width: 576px){}

@media (min-width: 728px){}

@media (min-width: 992px){}

@media (min-width: 1200px){}

@media (min-width: 1400px){}