extends ./common/base

include ./mixin/template-breadcrumbs
//- include ./mixin/card
//- include ./mixin/cardSlider
//- include ./mixin/tab

block vars 
    - let siteTitle = 'main';

block content

    
    