extends ./common/base

include ./mixin/template-breadcrumbs
//- include ./mixin/card
//- include ./mixin/tab

block vars 
    - let siteTitle = 'Wall';

block content
    section.section
        .content-container
            +breadcrumbs([{title : 'ЗАРЯДНЫЕ УСТРОЙСТВА', href : '/charging.html'}, {title : 'Wall', href : ''}])

    section.section
        .content-container.goods 
            .goods-title       
                h1.sectiont__title #{siteTitle}
                .goods-price 38 000 ₽

            .goods-slider__wrp 
                .goods-slider
                    .goods-slider__wrapper.swiper-wrapper
                        .swiper-slide
                            .goods-slider__image
                                img.goods-slider__img(src='@img/goods2-1.jpg')
                        .swiper-slide
                            .goods-slider__image
                                img.goods-slider__img(src='@img/goods2-2.jpg')


                .goods-navslider
                    .goods-navslider__wrapper.swiper-wrapper
                        .swiper-slide
                            .goods-slider__image
                                img.goods-slider__img(src='@img/goods2-1.jpg')
                        .swiper-slide
                            .goods-slider__image
                                img.goods-slider__img(src='@img/goods2-2.jpg')
                
                .goods-slider__navigation 
                    span.goods-slider__prev.icon.icon-salon_arrow
                    span.goods-slider__next.icon.icon-salon_arrow_active            



            form#goods-form.goods-params__form(name='goods-form')
                .goods-params
                    .paragraph_separator

                    .goods-params__items
                        .goods-params__subtitle МОЩНОСТЬ
                        .goods-params__item
                            input.goods-params__default-radio#power1(type="radio" name='power' value='6,6_кВт' checked) 
                            label.goods-params__default-label(for="power1") <strong>6,6 кВт</strong> 
                        .goods-params__item
                            input.goods-params__default-radio#power2(type="radio" name='power' value='11_кВт') 
                            label.goods-params__default-label(for="power2") <strong>11 кВт</strong> 
                        .goods-params__item
                            input.goods-params__default-radio#power3(type="radio" name='power' value='22_кВт') 
                            label.goods-params__default-label(for="power3") <strong>22 кВт</strong> 

                    .goods-params__items
                        .goods-params__subtitle ТИП КОННЕКТОРА
                        .goods-params__items-txt.goods-params__with-preview
                            .goods-params__item
                                input.goods-params__default-radio#connector1(type="radio" name='connector' value='type1' checked) 
                                label.goods-params__default-label(for="connector1") <strong>Кабель Тип 1</strong>
                                .goods-params__preview
                                    img.goods-params__preview-img(src='@img/goods2-2-serv-1.jpg')
                            .goods-params__item
                                input.goods-params__default-radio#connector2(type="radio" name='connector' value='type2' checked) 
                                label.goods-params__default-label(for="connector2") <strong>Кабель Тип 2</strong>
                                .goods-params__preview
                                    img.goods-params__preview-img(src='@img/goods2-2-serv-2.jpg')    
                            .goods-params__item
                                input.goods-params__default-radio#connector3(type="radio" name='connector' value='type3' checked) 
                                label.goods-params__default-label(for="connector3") <strong>Кабель Тип 3</strong>
                                .goods-params__preview
                                    img.goods-params__preview-img(src='@img/goods2-2-serv-3.jpg')


                    .goods-params__items
                        .goods-params__subtitle Выберите цвет корпуса
                        .goods-params__widgets
                            .goods-params__widget
                                input.goods-params__custom-radio#casecolor1(type="radio" name='casecolor' value='white' checked) 
                                label.goods-params__widget-label(for="casecolor1" style='background:#00000010;')
                            .goods-params__widget
                                input.goods-params__custom-radio#casecolor2(type="radio" name='casecolor' value='black') 
                                label.goods-params__widget-label(for="casecolor2" style='background:#000000;')
                            
                    .goods-params__items
                        .goods-params__subtitle Монетизация
                        .goods-params__switch
                            <input class="goods-param__checkbox" type="checkbox" name='monetization' id="monetization">
                            <label class="goods-param__switch" for="monetization"><span class="goods-params__switch-on">on</span><span class="goods-params__switch-off">off</span></label>

                    .goods-params__items
                        .goods-params__subtitle Дисплей-экран
                        .goods-params__switch
                            <input class="goods-param__checkbox" type="checkbox" name='display' id="display">
                            <label class="goods-param__switch" for="display"><span class="goods-params__switch-on">on</span><span class="goods-params__switch-off">off</span></label>
                            
                    .goods-params__items
                        .goods-params__subtitle Подиум
                        .goods-params__switch
                            <input class="goods-param__checkbox" type="checkbox" name='podium' id="podium">
                            <label class="goods-param__switch" for="podium"><span class="goods-params__switch-on">on</span><span class="goods-params__switch-off">off</span></label>
                

                    .goods-params__btn-bx 
                        button.btn.btn-black.goods-params__btn(type='submit') перейти к покупке
