extends ./common/base

include ./mixin/card
include ./mixin/cardSlider
//- include ./mixin/tab

block vars 
    - let siteTitle = 'Единственный салон TESLA в Санкт-Петербурге'

block content

    
    