extends ./common/base

include ./mixin/template-breadcrumbs
//- include ./mixin/cardSlider
//- include ./mixin/tab

block vars 
    - let siteTitle = 'Контакты';

block content
    section.section.servise-line1 
        .content-container
            +breadcrumbs([{title : 'контакты', href : '/contact'}])
            .section__content
                h1.sectiont__title #{siteTitle}
                
        .contact__content
            .content-container        
                .row.contact__row 
                    .contact-card.contact-card__info1
                        .contact-card__itm
                            .contact-content__position россия
                        .contact-card__itm
                            a.contact-content__phone(href='tel:88005501836') 8 (800) 550-18-36
                        .paragraph_separator 
                        .contact-card__itm
                            .contact-content__requisites г. Санкт-Петербург, Суздальское шоссе, 65
                        .contact-card__itm
                            a.contact-content__requisites(href='mailto:info@unicommotors.com') info@unicommotors.com
                        .contact-card__itm
                            a.contact-content__requisites(href='unicommotors.com' target='_blank') unicommotors.com
                        .contact-card__itm.contact-card__social
                            a.contact-card__link(href='#') instagram 
                            a.contact-card__link(href='#') facebook 
                    .contact-card.contact-card__map1
                        .contact-content__map <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1991.163175616236!2d30.27694321610201!3d60.0620967819212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963517e1e6a3a5%3A0xfb3d86a18c54aedc!2z0KHRg9C30LTQsNC70YzRgdC60L7QtSDRiC4sIDY1LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0KDQvtGB0YHQuNGPLCAxOTQzNTY!5e0!3m2!1sru!2sua!4v1645359231381!5m2!1sru!2sua" width='600' height='400' loading="lazy"></iframe>


                    .contact-card.contact-card__info2
                        .contact-card__itm
                            .contact-content__position Украина
                        .contact-card__itm
                            a.contact-content__phone(href='tel:380662729282') +380-66-272-92-82
                        .paragraph_separator 
                        .contact-card__itm
                            .contact-content__requisites г. Киев, ул. Изюмская, 1
                        .contact-card__itm
                            a.contact-content__requisites(href='mailto:get.unicum@gmail.com') get.unicum@gmail.com
                        .contact-card__itm
                            a.contact-content__requisites(href='unicommotors.com' target='_blank') unicommotors.com
                        .contact-card__itm.contact-card__social
                            a.contact-card__link(href='#') instagram 
                            a.contact-card__link(href='#') facebook
                    .contact-card.contact-card__map2
                        .contact-content__map <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.515947207425!2d30.513913216013158!3d50.412858079470176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf3b1e1f93c5%3A0x56ee879cd1264c20!2z0YPQuy4g0JjQt9GO0LzRgdC60LDRjywgMSwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1645359269273!5m2!1sru!2sua" width='600' height='400' loading="lazy"></iframe>

    
    