@import "./normalize/*";
@import "./icons/tesla.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600&display=swap');

html,body{
    height: 100%;
    font-family: Manrope, serif;
    font-weight: 300;
    font-size: 21px;
    color:#000;
}


*, *::before, *::after{ box-sizing: border-box;}

body{
    position: relative;
    z-index: 1;
    margin: 0;
}

body::before{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //  background: url(@img/main_page_desktop.jpg) no-repeat top center;
    //  background: url(@img/qustion.jpg) no-repeat top center;
    z-index: -1;
    opacity: 0.4;
}

h1,h2,h3,h4,h5,h6{margin: 0;}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{text-decoration: none;}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    min-width: 320px;
}


// @import './common/main-cont.scss';
// @import './components/main-slide.scss';
// @import './components/tabs.scss';
// @import './components/card.scss';
// @import './components/button.scss';
@import './common/header.scss';
@import './common/footer.scss';
@import './components/pop-form.scss';


header{    flex: 0 0 auto; position: relative;  z-index: 2;}
footer{    flex: 0 0 auto; }

main{
    flex: 1 0 auto;
    // flex: 0 0 auto;
}

.container{
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
}
.content-container{
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 30px;
}




@media (min-width: 900px){
    .container{padding: 0;}
}




